<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
          <button type="button" (click)="goBack()" class="btn btn-primary btn-rounded waves-effect waves-light">
            <span class="btn-label">
              <i class="fa fa-times"></i>
            </span>Close
          </button>
        </div>
        <h4 class="page-title">Add Teacher</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="card-box">
          <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
              <div class="row">
                <div *ngFor="let alert of alerts">
                  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
                </div>
              </div>  
              <div class="p-10">
                <form [formGroup]="addTeacherForm" (ngSubmit)="submitTeacher(addTeacherForm.value)">
                  <h5 class="text-primary">Teacher Information</h5>
                  <hr>
                  <div class="form-group">
                    <div class="col-md-12 m-t-20 form-image" *ngIf="image">
                      <img src="{{image}}" class="img-circle" alt="image">
                    </div>
                    <div class="m-t-30">
                      <h6 class="m-b-20 text-muted">Upload Image</h6>
                      <label class="file">
                          <input type="file" id="file" (change)="changeListener($event)" placeholder="Upload file" accept="image/*">
                          <span class="file-custom"></span>
                      </label>
                    </div>
                    <div class="m-t-20">
                      <label for="name">Name</label>
                        <input type="text" id="name" formControlName="name" [formControl]="addTeacherForm.controls['name']" class="form-control" placeholder="Name"/>
                    </div>
                    <div class="m-t-10">
                      <label for="passportno">Pass Port #</label>
                        <input type="text" id="passportno" formControlName="passportno" [formControl]="addTeacherForm.controls['passportno']" class="form-control" placeholder="Passport #"/>
                    </div>
                    <div class="m-t-10">
                      <label for="joindate">Join Date</label>
                        <input type="text" id="joindate" #dp="bsDatepicker" [bsValue]="bsValue" formControlName="joindate" [formControl]="addTeacherForm.controls['joindate']" class="form-control" placeholder="Click to Select Join Date" bsDatepicker [bsConfig]="{ containerClass: 'theme-blue' }"/>
                    </div>

                  </div>
                  
                  <h5 class="text-primary">Teacher Mobile App Account</h5>
                  <hr>
                  <div class="form-group">
                    <div>
                      <label for="username">Username</label>
                        <input type="text" id="username" formControlName="username" [formControl]="addTeacherForm.controls['username']" class="form-control" placeholder="Username"/>
                    </div>
                    <div class="m-t-10">
                      <label for="password">Password</label>
                        <input type="password" id="password" formControlName="password" [formControl]="addTeacherForm.controls['password']" class="form-control" placeholder="Password"/>
                    </div>
                  </div>
                  <div class="form-group text-center row m-t-15">
                    <div class="col-xs-6">
                      <button [disabled]="!addTeacherForm.valid" class="btn btn-success btn-block waves-effect waves-light" type="submit">Save</button>
                    </div>
                    <div class="col-xs-6">
                      <button (click)="reset()" class="btn btn-danger btn-block waves-effect waves-light" type="button">Reset</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>