<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="wrapper">
  <div class="container">

    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{selectedEvent?.title}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="header-title text-primary">Type</div>
            <span>{{selectedEvent?.type === 1 ? 'Time Table ' : 'Event '}}</span>
          </div>
          <div class="col-md-6 m-t-20">
            <div class="header-title text-primary">Start Date</div>
            <span>{{selectedEvent?.startDate | date:'fullDate'}}</span>
            <div class="clearfix"></div>
            <small>{{selectedEvent?.startDate | date:'shortTime'}}</small>
          </div>
          <div class="col-md-6 m-t-20">
            <div class="header-title text-primary">End Date</div>
            <span>{{selectedEvent?.endDate | date:'fullDate'}}</span>
            <div class="clearfix"></div>
            <small>{{selectedEvent?.endDate | date:'shortTime'}}</small>
          </div>
          <div class="col-md-12 m-t-20">
            <div class="header-title text-primary">Class(es)</div>
            <div *ngFor="let obj of selectedEvent?.classes">
              <span class="label label-primary">{{obj.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- Page-Title -->
    <div class="row" *ngIf="!showPlannerForm">
      <div class="col-sm-12">
        <h4 class="page-title">Planner</h4>
        <div class="card-box m-t-10">
          <div class="row">
            <div class="col-md-6">
              
              <button
                class="btn m-b-20 btn-success"
                (click)="addNewEvent()">
                <i class="fa fa-plus"></i>
              </button>
            </div>
            <div class="col-md-6">
              <!-- <label for="recurringdate">Select A Day</label> -->
              <select class="form-control" value="eventtype" (change)="eventTypeChanged($event)" [(ngModel)]="eventtype" id="eventtype">
                <option value=''>Select All</option>
                <option value='event'>Event</option>
                <option value='timetable'>Time Table</option>
              </select>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-4 m-b-10">
              <div class="btn-group calendar">
                <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                  <i class="fa fa-angle-left"></i>
                </div>
                <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                  Today
                </div>
                <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                  <i class="fa fa-angle-right"></i>
                </div>
              </div>
            </div>
            <div class="col-md-4 calendar-title">
              <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>
            <div class="col-md-4 m-b-10">
              <div class="btn-group calendar">
                <div class="btn btn-primary" (click)="view = CalendarView.Month" [class.active]="view === CalendarView.Month">
                  Month
                </div>
                <div class="btn btn-primary" (click)="view = CalendarView.Week" [class.active]="view === CalendarView.Week">
                  Week
                </div>
                <div class="btn btn-primary" (click)="view = CalendarView.Day" [class.active]="view === CalendarView.Day">
                  Day
                </div>
              </div>
            </div>
          </div>
          <br>
          <div [ngSwitch]="view">
            <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-day-view>
          </div>
        </div>
      </div>
    </div>

    <!-- ADD PLANNER FORM -->
    <div class="row" *ngIf="showPlannerForm">
      <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
          <button type="button" (click)="goBack()" class="btn btn-primary btn-rounded waves-effect waves-light">
            <span class="btn-label">
              <i class="fa fa-times"></i>
            </span>Close
          </button>
        </div>
        <h4 class="page-title">Add Event</h4>
      </div>
    </div>
    <div class="row" *ngIf="showPlannerForm">
      <div class="col-sm-12">
        <div class="card-box m-t-10">
          <div class="row">
            <div *ngFor="let alert of alerts">
              <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
            </div>
          </div>
          <form [formGroup]="addPlannerForm" (ngSubmit)="submitPlanner(addPlannerForm.value)">
            <div class="form-group">
              <label id="title">Title</label>
              <input id="title" type="text" formControlName="title" [formControl]="addPlannerForm.controls['title']" class="form-control" placeholder="Event Title" />
            </div>
              
            <div class="form-group">
              <label id="title">Class</label>
              <ng-multiselect-dropdown
                formControlName="class" 
                [(ngModel)]="selectedClasses"
                [placeholder]="'Select Class'"
                [data]="allClasses"
                [settings]="dropdownClasses"
              >
              </ng-multiselect-dropdown>
            </div>
            <div class="form-group">
              <label id="startdate">Start Date</label>
              <input class="form-control" 
                id="startdate"
                type="text" 
                mwlFlatpickr 
                formControlName="startDate" 
                [formControl]="addPlannerForm.controls['startDate']"
                (change)="refresh.next()" 
                [altInput]="true" 
                [convertModelValue]="true" 
                [enableTime]="true" 
                dateFormat="Y-m-dTH:i" 
                altFormat="F j, Y H:i" 
                placeholder="Not set">
            </div>
            <div class="form-group">
              <label id="enddate">End Date</label>
              <input class="form-control" 
                id="enddate"
                type="text" 
                mwlFlatpickr 
                formControlName="endDate" 
                [formControl]="addPlannerForm.controls['endDate']"
                (change)="refresh.next()" 
                [altInput]="true" 
                [convertModelValue]="true" 
                [enableTime]="true" 
                dateFormat="Y-m-dTH:i" 
                altFormat="F j, Y H:i" 
                placeholder="Not set">
            </div>
            <div class="form-group row">
              <label class="col-sm-2">Type</label>
              <div class="col-sm-10">
                <div class="radio">
                  <input type="radio" formControlName="type" [formControl]="addPlannerForm.controls['type']" id="radio1" value="1" checked="">
                  <label for="radio1">
                    Time Table
                  </label>
                </div>
                <div class="radio">
                  <input type="radio" formControlName="type" [formControl]="addPlannerForm.controls['type']" id="radio2" value="2">
                  <label for="radio2">
                    Event
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-block waves-effect waves-light" type="submit" [disabled]="!addPlannerForm.valid">SUBMIT</button>
            </div>
          </form>
        </div>
      </div>
    </div><!-- END ADD PLANNER FORM -->


    <!-- Footer -->
    <footer class="footer text-right">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            2016 © Uplon.
          </div>
        </div>
      </div>
    </footer><!-- End Footer -->
  </div> <!-- container -->
</div> <!-- End wrapper -->
