<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
          <button type="button" (click)="goBack()" class="btn btn-primary btn-rounded waves-effect waves-light">
            <span class="btn-label">
              <i class="fa fa-arrow-left"></i>
            </span>Back
          </button>
        </div>
        <h4 class="page-title">Teachers</h4>
      </div>
    </div>
    <div class="row loading">
      <div class="col-xs-12">
        <div class="card-box">
          <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
              <button *ngIf="loggedUser.role !== 'admin'" (click)="showAddForm()" class="m-b-20 btn waves-effect waves-light btn-primary"><i class="fa fa-user-plus"></i></button>
              <div class="p-10">
                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Image</th>
                      <th>Name</th>
                      <th>School</th>
                      <th>PP #</th>
                      <th>Join Date</th>
                      <th>Status</th>
                      <th *ngIf="loggedUser.role !== 'admin'">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let teacher of allTeachers; let i=index">
                      <th scope="row">{{i+1}}</th>
                      <th class="imageurl">
                        <img class="img-circle" alt="Image" *ngIf="teacher.imageUrl" src="{{teacher.imageUrl}}">
                        <!-- <span *ngIf="!teacher.imageUrl">&nbsp;</span> -->
                        <img class="img-circle" alt="Image" *ngIf="!teacher.imageUrl" src="assets/images/gallery/4.jpg">
                      </th>
                      <td>{{teacher.name | capFilter}}</td>
                      <td>{{teacher.schoolName | capFilter}}</td>
                      <td>{{teacher.passportNo}}</td>
                      <td>{{teacher.joiningDate | date:'fullDate'}}</td>
                      <td>
                        <span *ngIf="!teacher.isActive" class="label label-danger">In Active</span>
                        <span *ngIf="teacher.isActive" class="label label-success">Active</span>
                      </td>
                      <td *ngIf="loggedUser.role !== 'admin'">
                        <span class="edit-icon"><i class="text-danger fa fa-pencil" (click)="editTeacher(teacher)"></i></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>      
