<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="wrapper">
  <div class="container">
    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
          <button type="button" (click)="goBack()" class="btn btn-primary btn-rounded waves-effect waves-light">
            <span class="btn-label">
              <i class="fa fa-arrow-left"></i>
            </span>Back
          </button>
        </div>
        <h4 class="page-title">Account Information&nbsp;&nbsp;
            <span class="zmdi zmdi-edit text-danger" style="cursor: pointer;" (click)="goToSchoolEdit()"></span></h4>
      </div>
    </div>
    <div class="card-box">
      <div class="row">
        <div class="col-md-12 form-image">
          <img src="{{image}}" class="img-responsive img-circle" alt="user">
        </div>
        <div class="col-md-6 m-t-20">
          <h4 class="text-primary header-title">School Information</h4>
          <hr />
          <div class="info-box m-t-15">
            <span class="zmdi zmdi-account-circle text-primary"></span>&nbsp;
            <span>{{selectedSchool?.name | capFilter}}</span>
          </div>
          <div class="info-box m-t-15">
            <span class="zmdi zmdi-map text-primary"></span>&nbsp;
            <span>{{selectedSchool?.address | capFilter}}</span>
          </div>
          <div class="info-box m-t-15">
            <span class="zmdi zmdi-home text-primary"></span>&nbsp;
            <span>{{selectedSchool?.branch | capFilter}}</span>
          </div>

          <div class="info-box m-t-15">
            <span class="zmdi zmdi-link text-primary"></span>&nbsp;
            <span>{{selectedSchool?.web}}</span>
          </div>
          <div class="info-box m-t-15">
            <span class="zmdi zmdi-email text-primary"></span>&nbsp;
            <span>{{selectedSchool?.email}}</span>
          </div>
          <div class="info-box m-t-15">
            <span class="zmdi zmdi-phone text-primary"></span>&nbsp;
            <span>{{selectedSchool?.phone}}</span>
          </div>

        </div>
        <div class="col-md-6 m-t-20">
          <h4 class="text-primary header-title">Contact Person</h4>
          <hr />
          <div class="info-box m-t-15">
            <span class="zmdi zmdi-account-circle text-primary"></span>&nbsp;
            <span>{{selectedSchool?.schoolContactPerson.name | capFilter}}</span>
          </div>
          <div class="info-box m-t-15">
            <span class="zmdi zmdi-map text-primary"></span>&nbsp;
            <span>{{selectedSchool?.schoolContactPerson.address | capFilter}}</span>
          </div>
          <div class="info-box m-t-15">
            <span class="zmdi zmdi-account-circle text-primary"></span>&nbsp;
            <span>{{selectedSchool?.schoolContactPerson.designation}}</span>
          </div>
          <div class="info-box m-t-15">
            <span class="zmdi zmdi-smartphone-android text-primary"></span>&nbsp;
            <span>{{selectedSchool?.schoolContactPerson.mobile}}</span>
          </div>
          <div class="info-box m-t-15">
            <span class="zmdi zmdi-phone text-primary"></span>&nbsp;
            <span>{{selectedSchool?.schoolContactPerson.phone}}</span>
          </div>

        </div>

      </div>  
    </div>
    <!-- Footer -->
    <footer class="footer text-right">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            2016 © Uplon.
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
  </div> <!-- container -->
</div> <!-- End wrapper -->
