<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="wrapper">
  <div class="container">
    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15" *ngIf="loggedUser.role !== 'admin'">
          <button type="button" class="btn btn-custom dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i
                      class="fa fa-cog"></i></span></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/settings">Account info</a>
            <!-- <a class="dropdown-item" href="#">Another action</a> -->
            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
            <!-- <div class="dropdown-divider"></div> -->
            <!-- <a class="dropdown-item" href="#">Separated link</a> -->
          </div>
        </div>
        <h4 class="page-title">Dashboard</h4>
      </div>
    </div>
    <div class="row m-t-15">
      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3" *ngIf="loggedUser.role === 'admin'">
        <div class="card-box tilebox-one" (click)="goToPage('/schools')">
          <i class="fa fa-building pull-xs-right text-muted"></i>
          <h6 class="text-muted text-uppercase m-b-20">Schools</h6>
          <h2 class="m-b-20" data-plugin="counterup">{{schoolsCount || 0}}</h2>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3" (click)="goToPage('/teachers')">
        <div class="card-box tilebox-one">
          <i class="zmdi zmdi-accounts-alt pull-xs-right text-muted"></i>
          <h6 class="text-muted text-uppercase m-b-20">Teachers</h6>
          <h2 class="m-b-20"><span data-plugin="counterup">{{teachersCount|| 0}}</span></h2>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3" (click)="goToPage('/students')">
        <div class="card-box tilebox-one">
          <i class="zmdi zmdi-accounts-alt pull-xs-right text-muted"></i>
          <h6 class="text-muted text-uppercase m-b-20">Students</h6>
          <h2 class="m-b-20"><span data-plugin="counterup">{{studentsCount || 0}}</span></h2>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3" (click)="goToPage('/subjects')" *ngIf="loggedUser.role !== 'admin'">
        <div class="card-box tilebox-one">
          <i class="fa fa-book pull-xs-right text-muted"></i>
          <h6 class="text-muted text-uppercase m-b-20">Subjects</h6>
          <h2 class="m-b-20" data-plugin="counterup">{{subjectsCount || 0}}</h2>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3" (click)="goToPage('/classes')" *ngIf="loggedUser.role !== 'admin'">
        <div class="card-box tilebox-one">
          <i class="fa fa-graduation-cap pull-xs-right text-muted"></i>
          <h6 class="text-muted text-uppercase m-b-20">Classes</h6>
          <h2 class="m-b-20" data-plugin="counterup">{{classesCount || 0}}</h2>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3" (click)="goToPage('/feeslips')" *ngIf="loggedUser.role !== 'admin'">
        <div class="card-box tilebox-one">
          <i class="zmdi zmdi-receipt pull-xs-right text-muted"></i>
          <h6 class="text-muted text-uppercase m-b-20">Fee Slips</h6>
          <h2 class="m-b-20" data-plugin="counterup">{{feeslipsCount || 0}}</h2>
        </div>
      </div>


    </div>
    <!-- end row -->
    <!-- Footer -->
    <footer class="footer text-right">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            2018 © MMS.
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
  </div> <!-- container -->
</div> <!-- End wrapper -->
