<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
          <button type="button" (click)="goBack()" class="btn btn-primary btn-rounded waves-effect waves-light">
            <span class="btn-label">
              <i class="fa fa-times"></i>
            </span>Close
          </button>
        </div>
        <h4 class="page-title">Edit Teacher</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="card-box">
          <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
              <h5 class="text-primary">Teacher Information</h5>
              <hr>
              <div class="row">
                <div *ngFor="let alert of alerts">
                  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
                </div>
              </div>
              <div>
                <div class="col-md-12 m-b-20 form-image" *ngIf="image">
                  <img src="{{image}}" class="img-circle" alt="image">
                </div>
                <div>
                  <h6 class="text-muted">Upload Image</h6>
                  <label class="file">
                      <input type="file" id="file" (change)="changeListener($event)" placeholder="Upload file" accept="image/*">
                      <span class="file-custom"></span>
                  </label>
                </div>
              </div>  
              <div class="p-10">
                <form [formGroup]="addTeacherForm" (ngSubmit)="submitTeacher(addTeacherForm.value)">
                  <div class="form-group">
                    <!-- <label>Teacher Information</label> -->
                    <label>Name</label>
                    <div>
                        <input type="text" formControlName="name" [formControl]="addTeacherForm.controls['name']" class="form-control" placeholder="Name"/>
                    </div>
                    <label class="m-t-10">Pass Port #</label>
                    <div>
                        <input type="text" formControlName="passportno" [formControl]="addTeacherForm.controls['passportno']" class="form-control" placeholder="Passport #"/>
                    </div>
                    
                    <label class="m-t-10">Joining Date</label>
                    <div>
                        <input type="text" #dp="bsDatepicker" [bsValue]="bsValue" formControlName="joindate" [formControl]="addTeacherForm.controls['joindate']" class="form-control" placeholder="Click to Select Join Date" bsDatepicker [bsConfig]="{ containerClass: 'theme-blue' }"/>
                    </div>
                  </div>
                  <div class="form-group text-center row m-t-10">
                    <div class="col-xs-12">
                      <button [disabled]="!addTeacherForm.valid" class="btn btn-success btn-block waves-effect waves-light" type="submit">Update</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>