<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
          <button type="button" (click)="goBack()" class="btn btn-primary btn-rounded waves-effect waves-light">
            <span class="btn-label">
              <i class="fa fa-arrow-left"></i>
            </span>Back
          </button>
        </div>
        <h4 class="page-title">Students</h4>
      </div>
    </div>
    <div class="row loading">
      <div class="col-xs-12">
        <div class="card-box">
          <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
              <button *ngIf="loggedUser.role !== 'admin'" (click)="showAddForm()" class="m-b-20 btn waves-effect waves-light btn-primary"><i class="fa fa-user-plus"></i></button>
              <div class="p-10">
                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Image</th>
                      <th>Name</th>
                      <th>PP #</th>
                      <th>Nationality</th>
                      <th>Join Date</th>
                      <th>DOB</th>
                      <th>Reg ID.</th>
                      <th>Age</th>
                      <th *ngIf="loggedUser.role !== 'admin'">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let student of allStudents; let i=index">
                      <td scope="row">{{i+1}}</td>
                      <td class="imageurl">
                        <img class="img-circle" alt="Image" *ngIf="student.imageUrl" src="{{student.imageUrl}}">
                        <img class="img-circle" alt="Image" *ngIf="!student.imageUrl" src="assets/images/gallery/4.jpg">
                        <!-- <span *ngIf="!student.imageUrl">&nbsp;</span> -->
                      </td>
                      <td>{{student.name | capFilter}}</td>
                      <td>{{student.passportNo}}</td>
                      <td>{{student.nationality | capFilter}}</td>
                      <td>{{student.registrationDate | date:'shortDate' }}</td>
                      <td>{{student.dateOfBirth | date:'shortDate' }}</td>
                      <td>{{student.schoolIdentityNo}}</td>
                      <td>{{student.age}}</td>
                      <td *ngIf="loggedUser.role !== 'admin'">
                        <span class="edit-icon"><i class="text-danger fa fa-pencil" (click)="editStudent(student)"></i></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>      
