<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
          <button type="button" (click)="goBack()" class="btn btn-primary btn-rounded waves-effect waves-light">
            <span class="btn-label">
              <i class="fa fa-arrow-left"></i>
            </span>Back
          </button>
        </div>
        <h4 class="page-title">Fee Slips</h4>
      </div>
    </div>
    <div class="row loading">
      <div class="col-xs-12">
        <div class="card-box">
          <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
              <button *ngIf="loggedUser.role !== 'admin'" (click)="showAddForm()" class="m-b-20 btn waves-effect waves-light btn-primary"><i class="fa fa-plus"></i></button>
<!--               <p class="text-muted font-13 m-b-10">
                List of all slips.
              </p> -->
              <div class="p-10">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Tax</th>
                      <th>Amount</th>
                      <th>Submit Date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let slip of allFeeSlips; let i=index">
                      <th scope="row">{{i+1}}</th>
                      <td>{{slip.title}}</td>
                      <td>{{slip.tax}}</td>
                      <td>{{slip.totalAmount}}</td>
                      <td>{{slip.submissionDate | date:'short'}}</td>
                      <!-- <td>{{class.students ? class.students.length : 0}}</td> -->
                      <td>
                        <span class="edit-icon"><i class="text-danger fa fa-pencil" (click)="editSlip(slip)"></i></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--     <ag-grid-angular style="width: 800px; height: 500px;" 
        class="ag-theme-balham"
        [enableSorting]="true"
        [enableFilter]="true"
        [rowData]="rowData" 
        [columnDefs]="columnDefs"
        rowSelection="multiple"
        >
    </ag-grid-angular> -->
  </div>
</div>      
