<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
          <button type="button" (click)="goBack()" class="btn btn-primary btn-rounded waves-effect waves-light">
            <span class="btn-label">
              <i class="fa fa-times"></i>
            </span>Close
          </button>
        </div>
        <h4 class="page-title">Edit Class</h4>
      </div>
    </div>    

    <div class="row">
      <div class="col-xs-12">
        <div class="card-box">
          <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
<!--               <p class="text-muted font-13 m-b-10">
                edit this class..
              </p> -->
              <div class="row">
                <div *ngFor="let alert of alerts">
                  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
                </div>
              </div>  
              <div class="p-10">
                <form [formGroup]="addClassForm" (ngSubmit)="submitClass(addClassForm.value)">
                  <div class="row">
                    <div class="col-md-12">                  
                      <h5 class="text-primary">Class Information</h5>
                      <hr>
                      <div class="form-group">
                        <div>
                          <label for="name">Name</label>
                            <input type="text" id="name" formControlName="name" [formControl]="addClassForm.controls['name']" class="form-control" placeholder="Name"/>
                        </div>
                        <div class="m-t-10">
                          <label for="section">Section</label>
                            <input type="text" id="section" formControlName="section" [formControl]="addClassForm.controls['section']" class="form-control" placeholder="Section"/>
                        </div>
                        <div class="m-t-10">
                          <label for="subject">Subject</label>
                          <ng-multiselect-dropdown
                            formControlName="subject" 
                            [placeholder]="'Select Subject'"
                            [data]="allSubjects"
                            [(ngModel)]="selectedSubject"
                            [formControl]="addClassForm.controls['subject']"
                            [settings]="dropdownSubject"
                            (onSelect)="onItemSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            id="subject"
                          >
                          </ng-multiselect-dropdown>
                        </div>
                        <div class="m-t-10">
                          <label for="teacher">Teacher</label>
                          <ng-multiselect-dropdown
                            formControlName="teacher" 
                            [placeholder]="'Select Teacher'"
                            [data]="allTeachers"
                            [(ngModel)]="selectedTeacher"
                            [settings]="dropdownTeacher"
                            (onSelect)="onItemSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            id="teacher"
                          >
                          </ng-multiselect-dropdown>
                        </div>
                        <div class="m-t-10">
                          <label for="students">Students</label>
                          <ng-multiselect-dropdown
                            formControlName="students" 
                            [placeholder]="'Select Students'"
                            [data]="allStudents"
                            [(ngModel)]="selectedStudents"
                            [settings]="dropdownStudent"
                            (onSelect)="onItemSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            id="students"
                          >
                          </ng-multiselect-dropdown>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="form-group text-center row m-t-10">
                    <div class="col-xs-12">
                      <button [disabled]="!addClassForm.valid" class="btn btn-success btn-block waves-effect waves-light" type="submit">Update</button>
                    </div>
<!--                     <div class="col-xs-6">
                      <button (click)="reset()" class="btn btn-danger btn-block waves-effect waves-light" type="button">Reset</button>
                    </div> -->
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>