<div class="wrapper">
  <div class="container">
    <div class="row" *ngIf="!addFlag">
      <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
          <button type="button" (click)="goBack()" class="btn btn-primary btn-rounded waves-effect waves-light">
            <span class="btn-label">
              <i class="fa fa-arrow-left"></i>
            </span>Back
          </button>
        </div>
        <h4 class="page-title">Parents</h4>
      </div>
    </div>
    <div class="row loading" *ngIf="!addFlag">
      <div class="col-xs-12">
        <div class="card-box">
          <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
              <button *ngIf="loggedUser.role !== 'admin'" (click)="showAddForm()" class="m-b-20 btn waves-effect waves-light btn-success"><i class="fa fa-plus"></i></button>
<!--               <p class="text-muted font-13 m-b-10">
                List of all parents..
              </p> -->
              <div class="p-10">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>PP #</th>
                      <th>Join Date</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let teacher of allTeachers; let i=index">
                      <th scope="row">{{i+1}}</th>
                      <td>{{teacher.name | capFilter}}</td>
                      <td>{{teacher.passportNo}}</td>
                      <td>{{teacher.joiningDate}}</td>
                      <td>
                        <span *ngIf="!teacher.isActive" class="label label-danger">In Active</span>
                        <span *ngIf="teacher.isActive" class="label label-success">Active</span>
                      </td>
                      <td>
                        <span class="edit-icon"><i class="text-danger fa fa-pencil" (click)="editTeacher(teacher)"></i></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>      
