<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
          <button type="button" (click)="goBack()" class="btn btn-primary btn-rounded waves-effect waves-light">
            <span class="btn-label">
              <i class="fa fa-arrow-left"></i>
            </span>Back
          </button>
        </div>
        <h4 class="page-title">Schools</h4>
      </div>
    </div>
    <div class="row loading">
      <div class="col-xs-12">
        <div class="card-box">
          <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
              <button (click)="showAddForm()" class="m-b-20 btn waves-effect waves-light btn-primary"><i class="fa fa-user-plus"></i></button>
              <div class="p-10">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Branch</th>
                      <th>Address</th>
                      <th>Email</th>
                      <th>Phone</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let school of allSchools; let i=index">
                      <th scope="row">{{i+1}}</th>
                      <td>{{school.name | capFilter}}</td>
                      <td>{{school.branch | capFilter}}</td>
                      <td>{{school.address | capFilter}}</td>
                      <td>{{school.email}}</td>
                      <td>{{school.phone}}</td>
                      <td>
                        <span *ngIf="!school.isActive" class="label label-danger">In Active</span>
                        <span *ngIf="school.isActive" class="label label-success">Active</span>
                      </td>
                      <td>
                        <span class="edit-icon"><i class="text-danger fa fa-pencil" (click)="editSchool(school)"></i></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>      
