<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
          <button type="button" (click)="goBack()" class="btn btn-primary btn-rounded waves-effect waves-light">
            <span class="btn-label">
              <i class="fa fa-times"></i>
            </span>Close
          </button>
        </div>
        <h4 class="page-title">Add School</h4>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let alert of alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="card-box">
          <form [formGroup]="addSchoolForm" (ngSubmit)="submitSchool(addSchoolForm.value)">
            <div class="row">
              <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
                <div class="p-10">
                  <div class="form-group">
                    <label>School Information</label>
                    <div>
                      <input type="text" formControlName="name" [formControl]="addSchoolForm.controls['name']" class="form-control" placeholder="Name" />
                    </div>
                    <div class="m-t-10">
                      <input type="text" formControlName="branch" [formControl]="addSchoolForm.controls['branch']" class="form-control" placeholder="Branch" />
                    </div>
                    <div class="m-t-10">
                      <input type="text" formControlName="address" [formControl]="addSchoolForm.controls['address']" class="form-control" placeholder="Address" />
                    </div>
                    <div class="m-t-10">
                      <input type="text" formControlName="email" [formControl]="addSchoolForm.controls['email']" class="form-control" placeholder="E-mail" />
                    </div>
                    <div class="m-t-10">
                      <input type="text" formControlName="web" [formControl]="addSchoolForm.controls['web']" class="form-control" placeholder="Website" />
                    </div>
                    <div class="m-t-10">
                      <input type="text" formControlName="phone" [formControl]="addSchoolForm.controls['phone']" class="form-control" placeholder="Phone #" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
                <div class="form-group">
                  <label>Contact Person Information</label>
                  <div>
                    <input type="text" formControlName="cpname" [formControl]="addSchoolForm.controls['cpname']" class="form-control" placeholder="Name" />
                  </div>
                  <div class="m-t-10">
                    <input type="text" formControlName="cpaddress" [formControl]="addSchoolForm.controls['cpaddress']" class="form-control" placeholder="Address" />
                  </div>
                  <div class="m-t-10">
                    <input type="text" formControlName="cpdesignation" [formControl]="addSchoolForm.controls['cpdesignation']" class="form-control" placeholder="Designation" />
                  </div>
                  <div class="m-t-10">
                    <input type="text" formControlName="cpemail" [formControl]="addSchoolForm.controls['cpemail']" class="form-control" placeholder="E-mail" />
                  </div>
                  <div class="m-t-10">
                    <input type="text" formControlName="cpphone" [formControl]="addSchoolForm.controls['cpphone']" class="form-control" placeholder="Phone #" />
                  </div>
                  <div class="m-t-10">
                    <input type="text" formControlName="cpmobile" [formControl]="addSchoolForm.controls['cpmobile']" class="form-control" placeholder="Mobile #" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>School Account Details</label>
                  <div>
                    <input type="text" formControlName="username" [formControl]="addSchoolForm.controls['username']" class="form-control" placeholder="Username" />
                  </div>
                  <div class="m-t-10">
                    <input type="password" formControlName="password" [formControl]="addSchoolForm.controls['password']" class="form-control" placeholder="Password" />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group text-center row m-t-10">
              <div class="col-xs-6">
                <button [disabled]="!addSchoolForm.valid" class="btn btn-success btn-block waves-effect waves-light" type="submit">Save</button>
              </div>
              <div class="col-xs-6">
                <button (click)="reset()" class="btn btn-danger btn-block waves-effect waves-light" type="button">Reset</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

