<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
          <button type="button" (click)="goBack()" class="btn btn-primary btn-rounded waves-effect waves-light">
            <span class="btn-label">
              <i class="fa fa-times"></i>
            </span>Close
          </button>
        </div>
        <h4 class="page-title">Add Subject</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="card-box">
          <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
              <div class="row">
                <div *ngFor="let alert of alerts">
                  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
                </div>
              </div>  
              <div class="p-10">
                <form [formGroup]="addSubjectForm" (ngSubmit)="submitSubject(addSubjectForm.value)">
                  <div class="row">
                    <div class="col-md-12">                  
                      <h5 class="text-primary">Subject Information</h5>
                      <hr>
                      <div class="form-group">
                        <div>
                          <label for="title">Title</label>
                            <input type="text" id="title" formControlName="title" [formControl]="addSubjectForm.controls['title']" class="form-control" placeholder="Title"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group text-center row m-t-10">
                    <div class="col-xs-6">
                      <button [disabled]="!addSubjectForm.valid" class="btn btn-success btn-block waves-effect waves-light" type="submit">Save</button>
                    </div>
                    <div class="col-xs-6">
                      <button (click)="reset()" class="btn btn-danger btn-block waves-effect waves-light" type="button">Reset</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>      
