<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
  <div class="account-bg">
    <div class="card-box login m-b-0">
      <div class="text-xs-center m-t-20">
        <a href="index.html" class="logo login-logo">
          <!-- <i class="zmdi zmdi-group-work icon-c-logo"></i>
          <span>MMS</span> -->
          <img src="assets/images/gallery/1.png">
        </a>
      </div>
      <div class="m-t-10 p-20">
        <div class="row">
          <div class="col-xs-12 text-xs-center">
            <h6 class="text-muted text-uppercase m-b-0 m-t-0">Sign In</h6>
          </div>
        </div>

        <div class="row m-t-20" *ngIf="loginerror">
          <alert type="danger">
            <strong>Oh snap!</strong> Invalid Username or Password
          </alert>
        </div>
        <form class="m-t-20" [formGroup]="loginForm" (ngSubmit)="getCredentials(loginForm.value);">
          <div class="form-group row">
            <div class="col-xs-12">
              <input class="form-control" formControlName="email" [formControl]="loginForm.controls['email']" type="text" required="" placeholder="Username">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-12">
              <input class="form-control" formControlName="password" [formControl]="loginForm.controls['password']" type="password" required="" placeholder="Password">
            </div>
          </div>
<!--           <div class="form-group row">
            <div class="col-xs-12">
              <div class="checkbox checkbox-custom">
                <input id="checkbox-signup" type="checkbox">
                <label for="checkbox-signup">
                  Remember me
                </label>
              </div>
            </div>
          </div> -->
          <div class="form-group text-center row m-t-10">
            <div class="col-xs-12">
              <button [disabled]="!loginForm.valid" class="btn btn-primary btn-block waves-effect waves-light" type="submit">Log In</button>
            </div>
          </div>
<!--           <div class="form-group row m-t-30 m-b-0">
            <div class="col-sm-12">
              <a href="pages-recoverpw.html" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
            </div>
          </div> -->
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- end card-box-->
</div>
<!-- end wrapper page -->
