<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
          <button type="button" (click)="goBack()" class="btn btn-primary btn-rounded waves-effect waves-light">
            <span class="btn-label">
              <i class="fa fa-times"></i>
            </span>Close
          </button>
        </div>
        <h4 class="page-title">Add Fee Slip</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="card-box">
          <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
<!--               <p class="text-muted font-13">
                Add a new fee slip..
              </p> -->
              <!-- <div class="row"> -->
                <div *ngFor="let alert of alerts">
                  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
                </div>
              <!-- </div> -->
              <div class="p-10">
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="text-primary">General Information</h5>
                    <hr>  
                    <form [formGroup]="feeSlipForm">
                      <div class="form-group">
                        <div>
                          <label for="title">Title</label>
                          <input type="text" id="title" formControlName="title" [formControl]="feeSlipForm.controls['title']" class="form-control" placeholder="Title" />
                        </div>

                        <div class="m-t-10">
                          <label for="student">Student</label>
                          <ng-multiselect-dropdown id="student" formControlName="student" [(ngModel)]="selectedStduent" [placeholder]="'Select Students'" [data]="allStudents" [settings]="dropdownStudent">
                          </ng-multiselect-dropdown>
                        </div>
                        <div class="m-t-10">
                          <label for="nationality">Nationality</label>
                          <input type="text" id="nationality" formControlName="nationality" [formControl]="feeSlipForm.controls['nationality']" class="form-control" placeholder="Student Nationality" />
                        </div>
                        <div class="m-t-10">
                          <label for="submitdate">Submission Date</label>
                          <input type="text" id="submitdate" bsDatepicker formControlName="submitdate" [formControl]="feeSlipForm.controls['submitdate']" class="form-control" placeholder="Submission Date" />
                        </div>

                        <div class="m-t-10">
                          <label for="amount">Amount</label>
                          <input type="text" id="amount" formControlName="amount" (keyup)="changeFeeAmount($event)" [formControl]="feeSlipForm.controls['amount']" class="form-control" placeholder="Fee Amount" />
                        </div>
                        <label for="tax" class=" m-t-10">Tax</label>
                        <div class="input-group">
                          <input type="text" id="tax" (keyup)="changeTax($event)" formControlName="tax" [formControl]="feeSlipForm.controls['tax']" class="form-control" placeholder="tax" />
                          <span class="input-group-addon"> % </span>
                        </div>
                        <div class="m-t-20">
                          <div class="checkbox">
                            <input id="checkbox0" type="checkbox" formControlName="recurring" [formControl]="feeSlipForm.controls['recurring']" class="form-control" />
                            <label for="checkbox0">
                              Recurring
                            </label>
                          </div>
                        </div>
                        <div class="m-t-20" *ngIf="feeSlipForm.controls['recurring'].value">
                          <label for="recurringdate">Select Recurring Day</label>
                          <select class="form-control" formControlName="recurringdate" [formControl]="feeSlipForm.controls['recurringdate']" id="recurringdate">
                            <option value='0'>Select A Day</option>
                            <option value='1'>1</option>
                            <option value='2'>2</option>
                            <option value='3'>3</option>
                            <option value='4'>4</option>
                            <option value='5'>5</option>
                            <option value='6'>6</option>
                            <option value='7'>7</option>
                            <option value='8'>8</option>
                            <option value='9'>9</option>
                            <option value='10'>10</option>
                            <option value='11'>11</option>
                            <option value='12'>12</option>
                            <option value='13'>13</option>
                            <option value='14'>14</option>
                            <option value='15'>15</option>
                            <option value='16'>16</option>
                            <option value='17'>17</option>
                            <option value='18'>18</option>
                            <option value='19'>19</option>
                            <option value='20'>20</option>
                            <option value='21'>21</option>
                            <option value='22'>22</option>
                            <option value='23'>23</option>
                            <option value='24'>24</option>
                            <option value='25'>25</option>
                            <option value='26'>26</option>
                            <option value='27'>27</option>
                            <option value='28'>28</option>
                            <option value='29'>29</option>
                            <option value='30'>30</option>
                            <option value='31'>31</option>

                          </select>
                        </div>
                      </div>
                    </form>

                  </div>
                  <div class="col-md-6">
                    <!-- <div class="form-group"> -->
                      <h5 class="text-primary">Add Expenses
                      <button (click)='addExpense()' class="pull-right btn waves-effect waves-light btn-success"><i class="fa fa-plus"></i></button></h5>
                      <hr>
                      <div class="row m-t-20" *ngFor="let obj of expenses; let i=index;">
                        <div class="col-md-5">
                          <label for="title">Title</label>
                          <input placeholder="Title" id="title" class="form-control" [(ngModel)]="obj.title" [value]="obj.title" />
                        </div>
                        <div class="col-md-5">
                          <label for="amount">Amount</label>
                          <input placeholder="Amount" id="amount" (keyup)="changeExpensePrice($event)" class="form-control" [(ngModel)]="obj.value" [value]="obj.value" />
                        </div>
                        <div class="col-md-2" style="margin-top: 30px;">
                          <span class="btn btn-block waves-effect waves-light btn-danger btn-sm" (click)="removeItem(i)">
                            <i class="fa fa-remove"></i>
                          </span>
                        </div>
                      </div>
                    <!-- </div> -->
                  </div>
                </div>
                <div class="m-t-20">
                  <h4 class="m-t-20 header-title">Fee Total: {{(feeTotal - feeTotal*feeTax) + expenseCount}}</h4>
                </div>
                <div class="m-t-20">
                  <button (click)='addFeeSlip(feeSlipForm.value)' [disabled]="!feeSlipForm.valid" class="btn btn-success btn-block waves-effect waves-light" type="button">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
