a.logo img {
    width: 25%;
    margin-bottom: 10px;
}

.notification-list .noti-icon {
    color: rgba(255, 255, 255, 1);
}

.notification-list .noti-icon-badge {
  background-color: #FF793F;
  right: 8px;
}