<!--Navigation Bar-->
<header id="topnav">
  <div class="topbar-main">
    <div class="container">
      <!-- LOGO -->
      <div class="topbar-left">
        <a routerLink="/dashboard" class="logo">
          <!-- <i class="zmdi zmdi-group-work icon-c-logo"></i>
          <span>MMS</span> -->
          <img src="assets/images/gallery/1.png">
        </a>
      </div>
      <!-- End Logo container-->
      <div class="menu-extras">
        <ul class="nav navbar-nav pull-right">
          <li class="nav-item">
            <!-- Mobile menu toggle-->
            <a class="navbar-toggle" [ngClass]="{'open': toggle === true}" (click)="navbarClicked()">
              <div class="lines">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </a>
            <!-- End mobile menu toggle-->
          </li>
          <li class="nav-item dropdown notification-list" *ngIf="loggedUser.role === 'school'">
            <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="false" aria-expanded="false">
                <i class="zmdi zmdi-email noti-icon"></i>
                <span *ngIf="isReadCount" class="noti-icon-badge"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-arrow-success dropdown-lg" aria-labelledby="Preview">
              <div class="dropdown-item noti-title bg-success">
                <h5><small><span class="label label-danger pull-xs-right">{{isReadCount}}</span>Messages</small></h5>
              </div>
              <div *ngFor="let chat of allChats; let i=index" class="dropdown-item notify-item">
                <div *ngIf="i <= 2">
                  <div class="notify-icon bg-faded">
                    <img *ngIf="chat.parent?.imageUrl == ''" src="assets/images/gallery/4.jpg" alt="img" class="img-circle img-fluid">
                    <img *ngIf="chat.parent?.imageUrl" src="{{chat.parent?.imageUrl}}" alt="img" class="img-circle img-fluid">
                  </div>
                  <p class="notify-details">
                    <b>{{chat.parent?.name | capFilter}}</b>
                    <span>{{chat.messages[0].message}}</span>
                    <small class="text-muted">{{chat.date}}</small>
                  </p>
                </div>
              </div>
              <a routerLink="/inbox" class="dropdown-item notify-item notify-all">
                View All
              </a>
            </div>
          </li>
          <li class="nav-item dropdown notification-list">
            <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false" *ngIf="loggedUser.role === 'school'">
              <img *ngIf="loggedUser?.school.imageUrl == null" src="assets/images/users/avatar-1.jpg" alt="user" class="img-circle">
              <img *ngIf="loggedUser?.school.imageUrl" alt="user" class="img-circle" src="{{loggedUser?.school.imageUrl}}">
            </a>
            <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false" *ngIf="loggedUser.role === 'admin'">
              <img src="assets/images/gallery/4.jpg" alt="user" class="img-circle">
                <!-- <img *ngIf="loggedUser.school.imageUrl" alt="user" class="img-circle" src="{{loggedUser.school.imageUrl}}"> -->
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-arrow profile-dropdown " aria-labelledby="Preview">
              <!-- item-->
              <div class="dropdown-item noti-title" *ngIf="loggedUser.role === 'school'">
                <h6 class="text-overflow">{{loggedUser?.school.name | capFilter}} </h6>
              </div>
              <div class="dropdown-item noti-title" *ngIf="loggedUser.role === 'admin'">
                <h6 class="text-overflow">{{loggedUser?.username | capFilter}} </h6>
              </div>

              <!-- item-->
              <!-- <a href="javascript:void(0);" class="dropdown-item notify-item"> -->
              <!-- <i class="zmdi zmdi-settings"></i> <span>Settings</span> -->
              <!-- </a> -->
              <!-- item-->
              <a (click)="changePassword()" class="dropdown-item notify-item">
                <i class="zmdi zmdi-key"></i> <span>Change Password</span>
              </a>
              <a (click)="logout()" class="dropdown-item notify-item">
                <i class="zmdi zmdi-power"></i> <span>Logout</span>
              </a>
            </div>
          </li>
        </ul>
      </div> <!-- end menu-extras -->
      <div class="clearfix"></div>
    </div> <!-- end container -->
  </div>
  <!-- end topbar-main -->
  <div class="navbar-custom">
    <div class="container">
      <div id="navigation">
        <!-- Navigation Menu-->
        <ul class="navigation-menu">
          <li *ngFor="let obj of loggedUser.navbar" routerLinkActive="active">
            <a [routerLink]="'/' + obj.link">
              <i [ngClass]="obj.icon"></i> 
              <span>{{obj.name}}</span> 
            </a>
          </li>
        </ul>
        <!-- End navigation menu  -->
      </div>
    </div>
  </div>
</header>
<!-- End Navigation Bar -->
