.inbox-widget .inbox-item img {
    width: 45px;
}

.timeline-item.alt:after,.timeline-item.alt:before,.timeline-item:after,.timeline-item:before, .timeline:before {
    display: none;
}

/*Chat Box*/
.chat-box {
    background: transparent;
    padding: 0;
    box-shadow: none;
}
.chat-box .row{
  background:#eee;
}
.chat-box .inbox-widget {
    background: #fff;
    padding: 13px;
    margin: 0 !important;
    border: 0;
}
/*.chat-box .timeline {
    background: #eee;
}*/
.chat-box .inbox-widget .inbox-item {
    border: 0;
}
.chat-box .timeline-box img.img-circle {
    width: 47px;
}
.timeline-item.alt .timeline-icon {
    left: auto;
    right: -43px;
}
.timeline .timeline-icon{
      left: -68px;
      top: 33%;
}
.chat-box .timeline-desk {
    display: table;
    vertical-align: top;
    width: 100%;
}
.chat-box .timeline-item.alt .panel {
    margin-left: 0;
    margin-right: 90px;
    float:right;
    background:#1e9ff2;
    color:#fff;
}
.timeline-item.alt .timeline-desk .arrow-alt {
    border-left: 12px solid #1e9ff2 !important;
    }
.chat-box .timeline-desk .panel{
  margin-left: 90px;
  display:table;
  margin-top: 10px;
  box-shadow: none;
  background:#f4f5fa;
  border-radius: 5px;
  color:#333;
}
.timeline-item .timeline-desk .arrow {
    border-right: 12px solid #f4f5fa !important;
  }
.timeline-item .timeline-desk .timeline-box{
  padding:10px;
}

.chat-box .timeline-desk h4, .timeline-desk p{
  color: inherit !important;
}
.timeline-desk h4 {
    font-size: 14px;
    font-weight: 600;
}
.scrollheight{
  height:550px;
  overflow-y: auto;
}
.scrollheight-main{
  height:490px;
  overflow-y: auto;
  background-image: url('~/assets/images/download.png');
}


/*.inbox-item.active {
    border-right: 2px solid #B33939;
}*/

.inbox-item.active {
/*  border-right: 2px solid #B33939;
  background: #f5f5f5;*/
  border-right: 4px solid #B33939;
  background: #ECEFF1;
  border-left: 1px solid #CED1D3;
  border-top: 1px solid #CED1D3;
}
.inbox-widget .inbox-item {
  padding: 10px 0px 10px 10px;
}

.inbox-card {
  padding-right: 0px;
  padding-left: 0px;
  border-right: 2px solid #ccc;
}

.inbox-card .card-box{
    padding: 0px 11px 28px;
    border-radius: 0px;
    margin: 0;
}

.inbox-widget .inbox-item .inbox-item-date{
  top:8px;
  right: 6px;
}

span.no-chat {
    margin: 11px;
    display: block;
}

.inline-msg.row {
    padding: 13px;
    background: #ECF1DA !important;
}

.all-chats {
    padding: 20px;
    font-weight: 700;
}