<div class="wrapper">
  <div class="container">

    <div class="row" *ngIf="!showChat && !sendMessage">
      <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
          <button type="button" (click)="goBack()" class="btn btn-primary btn-rounded waves-effect waves-light">
            <span class="btn-label">
              <i class="fa fa-arrow-left"></i>
            </span>Back
          </button>
        </div>
        <h4 class="page-title">Inbox&nbsp;&nbsp;<i style="cursor: pointer;" class="fa fa-plus text-primary" (click)="addChat()"></i></h4> 
      </div>
    </div>

    <div class="row loading" *ngIf="!showChat && !sendMessage">
      <div class="col-sm-4 col-xs-12 inbox-card">
        <div class="card-box">
          <div class="row">
            <div class="all-chats">ALL CHATS</div>
            <div class="scrollheight">
              <div class="inbox-widget nicescroll">
                <div *ngFor="let chat of allChats; let i=index;" (click)="goToChat(chat, i)">
                  <div class="inbox-item" [ngClass]="{'active': selectedChatIndex == i}">
                    <div class="inbox-item-img">
                      <img *ngIf="chat.parent?.imageUrl == ''" src="assets/images/gallery/4.jpg" class="img-circle" alt="">
                      <img *ngIf="chat.parent?.imageUrl" src="{{chat.parent?.imageUrl}}" class="img-circle" alt="">
                    </div>
                    <p class="inbox-item-author">{{chat.parent?.name | capFilter}}</p>
                    <p class="inbox-item-text">
                      <span class="text-primary">{{chat.parent?.studentParent.name | capFilter}}</span>
                    </p>
                    <p class="inbox-item-text">{{chat.messages[0].message}}</p>
                    <p class="inbox-item-date">{{chat.date}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-xs-12">
        <div class="card-box chat-box">
          <div class="row">
            <div class="inbox-widget nicescroll m-b-10">
              <div class="inbox-item" *ngIf="!selectedChat">
                <span class="no-chat">No Chat Selected!!</span>
              </div>
              <!-- <div class="row"> -->
                <div *ngFor="let alert of alerts">
                  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
                </div>
              <!-- </div> -->
              <div class="inbox-item" *ngIf="selectedChat">
                <div class="inbox-item-img">
                  <img *ngIf="selectedChat?.parent.imageUrl == ''" src="assets/images/gallery/4.jpg" class="img-circle" alt="">
                  <img *ngIf="selectedChat?.parent.imageUrl" src="{{selectedChat?.parent.imageUrl}}" class="img-circle" alt="">
                </div>
                <p class="inbox-item-author">{{selectedChat?.parent.name | capFilter}}</p>
                <p class="inbox-item-text">
                  <span class="text-primary">{{selectedChat?.parent.studentParent.name | capFilter}}</span>
                </p>
                <p class="inbox-item-date">{{selectedChat?.date}}</p>
              </div>
            </div>
            <div class="scrollheight-main">
              <div class="timeline">
                <article className="{{msg.sendflag == 'sender' ? 'timeline-item alt' : 'timeline-item'}}" *ngFor="let msg of selectedChat?.messages">
                  <div class="timeline-desk">
                    <div class="panel">
                      <div class="timeline-box">
                        <span className="{{msg.sendflag == 'sender' ? 'arrow-alt' : 'arrow'}}"></span>
                        <span className="{{msg.sendflag == 'sender' ? 'timeline-icon bg-danger' : 'timeline-icon bg-primary'}}">
                          <img *ngIf="selectedChat?.parent.imageUrl == '' && msg.sendflag == 'receiver'" src="assets/images/gallery/4.jpg" class="img-circle" alt="">
                          <img *ngIf="selectedChat?.parent.imageUrl && msg.sendflag == 'receiver'" src="{{selectedChat?.parent.imageUrl}}" class="img-circle" alt="">
                          <img *ngIf="loggedUser?.school.imageUrl == '' && msg.sendflag == 'sender'" src="assets/images/gallery/4.jpg" class="img-circle" alt="">
                          <img *ngIf="loggedUser?.school.imageUrl && msg.sendflag == 'sender'" src="{{loggedUser?.school.imageUrl}}" class="img-circle" alt="">
                        </span>
                        <h4 class="text-danger">{{msg.date}}</h4>
                        <!-- <p class="timeline-date text-muted"><small>{{msg.dateCreated | date:'shortTime':'ZZZZ'}}</small></p> -->
                        <p>{{msg.message}} </p>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>

          <div class="inline-msg row">
            <div class="col-md-10 col-xs-9">
              <input type="text" placeholder="Enter Chat Message.." name="inline-msg" class="form-control" [(ngModel)]="inlineChatMsg" value="inlineChatMsg">
            </div>
            <div class="col-md-2 col-xs-3">
              <button type="button" class="btn btn-block btn-primary" [disabled]="selectedChat == null || inlineChatMsg == null" (click)="sendInlineMsg()">Send</button>
            </div>
          </div>

        </div>
      </div>

    </div>
    
    <div class="row" *ngIf="showChat && !sendMessage">
      <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
          <button type="button" (click)="hideChat()" class="btn btn-primary btn-rounded waves-effect waves-light">
            <span class="btn-label">
              <i class="fa fa-arrow-left"></i>
            </span>Back
          </button>
        </div>
        <h4 class="page-title">Single Chat</h4>
      </div>
    </div>
    <div class="row loading" *ngIf="showChat && !sendMessage">
      <div class="col-sm-12">
        <div class="timeline">
          <article className="{{msg.sendflag == 'sender' ? 'timeline-item alt' : 'timeline-item'}}" *ngFor="let msg of selectedChat?.messages">
            <div class="timeline-desk">
              <div class="panel">
                <div class="timeline-box">
                  <span className="{{msg.sendflag == 'sender' ? 'arrow-alt' : 'arrow'}}"></span>
                  <span className="{{msg.sendflag == 'sender' ? 'timeline-icon bg-danger' : 'timeline-icon bg-primary'}}"><i class="zmdi zmdi-circle"></i></span>
                  <h4 class="text-danger">{{msg.date}}</h4>
                  <p class="timeline-date text-muted"><small>{{msg.dateCreated | date:'shortTime':'ZZZZ'}}</small></p>
                  <p>{{msg.message}} </p>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>



    <div class="row" *ngIf="sendMessage">
      <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
          <button type="button" (click)="hideSendMessage()" class="btn btn-primary btn-rounded waves-effect waves-light">
            <span class="btn-label">
              <i class="fa fa-arrow-left"></i>
            </span>Back
          </button>
        </div>
        <h4 class="page-title">New Message</h4>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let alert of alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
      </div>
    </div>
    <div class="row loading" *ngIf="sendMessage">
      <div class="col-sm-12">
        <div class="card-box">
          <div class="m-b-10">
            <label for="Student">Student</label>
            <ng-multiselect-dropdown
              [(ngModel)]="selectedStudent"
              [placeholder]="'Select Student'"
              [data]="allStudents"
              [settings]="dropdownStudent"
              id="Student"
            >
            </ng-multiselect-dropdown>
          </div>
          <div class="m-b-10">
            <label for="msg">Message</label>
            <textarea class="form-control" placeholder="Enter Message" id="msg" [(ngModel)]="message"></textarea>
          </div>
          <div class="m-b-10">
            <button class="btn btn-block btn-primary" (click)="addNewChat()">Submit</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>      
