<div class="wrapper">
  <div class="container">  
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group pull-right m-t-20">
          <button type="button" (click)="hideEditPlannerForm()" class="btn btn-primary btn-rounded waves-effect waves-light">
            <span class="btn-label">
              <i class="fa fa-times"></i>
            </span>Close
          </button>
        </div>
        <h4 class="page-title">Edit Event</h4>
        <div class="card-box m-t-10">
          <div class="row">
            <div *ngFor="let alert of alerts">
              <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
            </div>
          </div>
          <form [formGroup]="addPlannerForm">
            <div class="form-group">
              <label id="title">Title</label>
              <input id="title" type="text" formControlName="title" [formControl]="addPlannerForm.controls['title']" class="form-control" placeholder="Event Title" />
            </div>
              
            <div class="form-group">
              <label id="title">Class</label>
              <ng-multiselect-dropdown
                formControlName="class" 
                [(ngModel)]="selectedClasses"
                [placeholder]="'Select Class'"
                [data]="allClasses"
                [settings]="dropdownClasses"
              >
              </ng-multiselect-dropdown>
            </div>
            <div class="form-group">
              <label id="startdate">Start Date</label>
              <input class="form-control" 
                id="startdate"
                type="text" 
                mwlFlatpickr 
                formControlName="startDate" 
                [formControl]="addPlannerForm.controls['startDate']"
                [altInput]="true" 
                [convertModelValue]="true" 
                [enableTime]="true" 
                dateFormat="Y-m-dTH:i" 
                altFormat="F j, Y H:i" 
                placeholder="Not set">
            </div>
            <div class="form-group">
              <label id="enddate">End Date</label>
              <input class="form-control" 
                id="enddate"
                type="text" 
                mwlFlatpickr 
                formControlName="endDate" 
                [formControl]="addPlannerForm.controls['endDate']"
                [altInput]="true" 
                [convertModelValue]="true" 
                [enableTime]="true" 
                dateFormat="Y-m-dTH:i" 
                altFormat="F j, Y H:i" 
                placeholder="Not set">
            </div>
            <div class="form-group row">
              <label class="col-sm-2">Event Type</label>
              <div class="col-sm-10">
                <div class="radio">
                  <input type="radio" formControlName="type" [formControl]="addPlannerForm.controls['type']" id="radio1" value="1" checked="">
                  <label for="radio1">
                    Time Table
                  </label>
                </div>
                <div class="radio">
                  <input type="radio" formControlName="type" [formControl]="addPlannerForm.controls['type']" id="radio2" value="2">
                  <label for="radio2">
                    Event
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button (click)="updatePlanner(addPlannerForm.value)" class="btn btn-primary btn-block waves-effect waves-light" type="button" [disabled]="!addPlannerForm.valid">UPDATE</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>