<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
          <button type="button" (click)="goBack()" class="btn btn-primary btn-rounded waves-effect waves-light">
            <span class="btn-label">
              <i class="fa fa-times"></i>
            </span>Close
          </button>
        </div>
        <h4 class="page-title">Edit Student</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="card-box">
          <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
              <div class="row">
                <div *ngFor="let alert of alerts">
                  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
                </div>
              </div>  
              <div class="p-10">
                <form [formGroup]="addStudentForm" (ngSubmit)="submitStudent(addStudentForm.value)">
                  <div class="row">
                    <div class="col-md-12 m-b-30">
                      <div class="col-md-12 m-t-20 form-image" *ngIf="image">
                        <img src="{{image}}" class="img-circle" alt="image">
                      </div>
                      <div>
                        <h6 class="text-muted">Upload Image</h6>
                        <label class="file">
                            <input type="file" id="file" (change)="changeListener($event)" placeholder="Upload file" accept="image/*">
                            <span class="file-custom"></span>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-6">                  
                      <h5 class="text-primary">General Info</h5>
                      <hr>
                      <div class="form-group">
                        <div>
                          <label for="name">Name</label>
                          <input type="text" id="name" formControlName="name" [formControl]="addStudentForm.controls['name']" class="form-control" placeholder="Name"/>
                        </div>
                        <div class="m-t-10">
                          <label for="name">Address</label>
                          <input type="text" id="address" formControlName="address" [formControl]="addStudentForm.controls['address']" class="form-control" placeholder="Address"/>
                        </div>

                        <div class="m-t-10">
                          <label for="passportno">Pass Port #</label>
                          <input type="text" id="passportno" formControlName="passportno" [formControl]="addStudentForm.controls['passportno']" class="form-control" placeholder="Passport #"/>
                        </div>
                        <div class="m-t-10">
                          <label for="nationality">Nationality</label>
                          <input type="text" id="nationality" formControlName="nationality" [formControl]="addStudentForm.controls['nationality']" class="form-control" placeholder="Nationality"/>
                        </div>
                        <div class="m-t-10">
                          <label for="schoolregid">School Reg. ID</label>
                          <input type="text" id="schoolregid" formControlName="schoolregid" [formControl]="addStudentForm.controls['schoolregid']" class="form-control" placeholder="School Registration #"/>
                        </div>

                        <div class="m-t-10">
                          <label for="joindate">Join Date</label>
                          <input type="text" id="joindate" bsDatepicker [bsConfig]="{ containerClass: 'theme-blue' }" formControlName="joindate" [formControl]="addStudentForm.controls['joindate']" class="form-control" placeholder="Join Date"/>
                        </div>

                        <div class="m-t-10">
                          <label for="dob">Date Of Birth</label>
                          <input type="text" id="dob" bsDatepicker [bsConfig]="{ containerClass: 'theme-blue' }" formControlName="dob" [formControl]="addStudentForm.controls['dob']" class="form-control" placeholder="Date of birth"/>
                        </div>
                        <div class="m-t-10">
                          <label for="age">Age</label>
                          <input type="text" id="age" formControlName="age" [formControl]="addStudentForm.controls['age']" class="form-control" placeholder="Age"/>
                        </div>


                      </div>
                    </div>
                    <div class="col-md-6">
                      <h5 class="text-primary">Parent details</h5>
                      <hr>
                      <div class="form-group">
                        <div>
                          <label for="pname">Name</label>
                          <input type="text" id="pname" formControlName="pname" [formControl]="addStudentForm.controls['pname']" class="form-control" placeholder="Parent Name"/>
                        </div>
                        <div class="m-t-10">
                          <label for="paddress">Address</label>
                          <input type="text" id="paddress" formControlName="paddress" [formControl]="addStudentForm.controls['paddress']" class="form-control" placeholder="Parent Address"/>
                        </div>
                        <div class="m-t-10">
                          <label for="ppassportno">Pass Port #</label>
                          <input type="text" id="ppassportno" formControlName="ppassportno" [formControl]="addStudentForm.controls['ppassportno']" class="form-control" placeholder="Parent PP #"/>
                        </div>
                        <div class="m-t-10">
                          <label for="pnationality">Nationality</label>
                          <input type="text" id="pnationality" formControlName="pnationality" [formControl]="addStudentForm.controls['pnationality']" class="form-control" placeholder="Parent Nationality"/>
                        </div>
                        <div class="m-t-10">
                          <label for="prelation">Relation With Student</label>
                          <input type="text" id="prelation" formControlName="prelation" [formControl]="addStudentForm.controls['prelation']" class="form-control" placeholder="Relation with student"/>
                        </div>
                        <div class="m-t-10">
                          <label for="pphone">Phone</label>
                          <input type="text" id="pphone" formControlName="pphone" [formControl]="addStudentForm.controls['pphone']" class="form-control" placeholder="Parent Phone"/>
                        </div>
                        <div class="m-t-10">
                          <label for="pmobile">Mobile</label>
                          <input type="text" id="pmobile" formControlName="pmobile" [formControl]="addStudentForm.controls['pmobile']" class="form-control" placeholder="Parent Mobile"/>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="form-group text-center row m-t-10">
                    <div class="col-xs-6">
                      <button [disabled]="!addStudentForm.valid" class="btn btn-success btn-block waves-effect waves-light" type="submit">Update</button>
                    </div>
                    <div class="col-xs-6">
                      <button (click)="reset()" class="btn btn-danger btn-block waves-effect waves-light" type="button">Reset</button>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>      
